<!DOCTYPE html>
<html lang="en">
<!-- hello ill just type in whatsapp easier -s -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Login Page</title>
</head>

<body>
    <header></header>
    <main>
        <h1>Login</h1>
        <form action="/login" method="POST">
            <label for="username">Username: </label>
            <input type="text" id="username" name="username" placeholder="username" required><br>
            <label for="password">Password </label>
            <input type="password" name="password" id="password">
            <input type="submit" value="Log in">
        </form>
    </main>
    <footer></footer>
    <script src="./js/loadstatic.js" defer></script>
</body>

</html>