<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shopify | Stores</title>
    <style>
      .storeItem {
        border: 1px solid black;
      }
    </style>
  </head>
  <body>
    <header></header>
    <!-- <div id="stores">
      <div>
        <img src="default.png" alt="default store" />
        <div>
          <h2>Default store</h2>
          <p>We sell default items</p>
        </div>
      </div>
    </div> -->
    <div class="inventory"></div>
    <footer></footer>
    <script defer>
      $.ajax({
        url: "/inventory",
        method: "get",
      })
        .done(function (data) {
          data.forEach((element) => {
            console.log(element);
            $(".inventory").append(`
                <div class="storeItem">
                  <h4>${element.name}</h4>
                  <p>${element.description}</p>
                  <a href="/updateCart?name=${element.name},quantity=1">Add to cart</a>  
                </div>
            `);
          });
        })
        .fail(function (e) {
          console.log(e.responseText);
        });
    </script>
    <script src="./js/loadstatic.js" defer></script>
  </body>
</html>
