<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="./js/jquery-3.5.1.min.js"></script>
    <title>Success</title>
  </head>
  <body>
    <header></header>
    you have logged in
    <footer></footer>
    <script defer>
      $.ajax({
        url: "/inventory",
        method: "get",
      })
        .done(function (data) {
          data.forEach((element) => {
            console.log(element);
            $(".inventory").append(
              `<li>${element.name}  $${element.price}</li>`
            );
          });
        })
        .fail(function (e) {
          console.log(e.responseText);
        });
    </script>
    <script src="./js/loadstatic.js" defer></script>
  </body>
</html>
